.header{
	height: 65px;
    display: flex;
	align-items: center;
    background: #bba377;
}



.header > .Above {
	font-size: 22px;
	font-weight: bold;
}

.header> .tabs {
	list-style: none;
   margin-left: auto;
	display: flex;
}

.header > .tabs > .tab:not(:last-child) {
	margin-right: 20px;
}

.header> .tabs > .tab {
	width: 90px;
	height: 36px;
   display: flex;
	justify-content: center;
	align-items: center;
   background-color: hsl(0, 0%, 0%);
}


h1{
    font-style:oblique;
    color: rgb(116, 105, 105);
}

.bottom-section img{
    width: 50%;
    border-radius: 50%;
  }
  
  .bottom-section{
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .bottom-section .name1, .name2, .name3{
     color: purple;
     font-size: 25px;
  }
  